# LibDSE API backend
{$LIBDSE_API_URL} {
	encode gzip zstd
	rate_limit {
		zone api_per_ip {
			key    {remote_host}
			events 10
			window 1s
		}
	}
	reverse_proxy {$LIBDSE_API_BACKEND}
}

# Static Frontend
{$PORTFOLIO_FRONTEND_URL} {
	root * /srv/frontend
	file_server
	try_files {path} {path}/ /index.html

	log {
		output file /logs/access.json
		format json
	}
}

# Stats Dashboard
{$STATS_URL} {

	basic_auth {
		{$STATS_USERNAME} $2a$14$l/Nwz6gjtHGph2Obx2LBPuRQkvyn.jaa2zWPSXk7ia7oWH67oXHLq
	}

    # Tell Caddy where GoAccess is putting the HTML file
    root * /srv/frontend/stats
    file_server

    # Crucial step: Proxy the real-time websocket back to GoAccess
    reverse_proxy /ws {$STATS_WEBSOCKET_BACKEND}
}