# LibDSE API backend
{$LIBDSE_API_URL} {
	encode gzip zstd
	rate_limit {
		zone api_per_ip {
			key    {remote_host}
			events 10
			window 1s
		}
	}
	reverse_proxy {$LIBDSE_API_BACKEND}
}

# Static Frontend
{$PORTFOLIO_FRONTEND_URL} {
	root * /srv/frontend
	file_server
	try_files {path} {path}/ /index.html
}